html{
    font-size: 0.900rem;
}


.login_wrapper {
    float: left;
    width: 100%;
    background: #fff;
}

.login_wrapper a.btn {
    color: #fff;
    width: 45%;
    height: 35px;
    text-align: left;
    border-radius: 5px;
    background: #4385f5;
    font-size: 13px;
    border: 1px solid #4385f5
}

.login_wrapper a i {
    float: right;
    margin: 0;
    line-height: 35px
}

.login_wrapper a.google-plus {
    background: #db4c3e;
    border: 1px solid #db4c3e
}

.login_wrapper h2 {
    font-size: 18px;
    font-weight: 500;
    color: #111;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}


.login_wrapper .form-control:focus {
    color: #999;
    background-color: fafafa;
    border: 1px solid #4285f4 !important
}


.login_wrapper a.login_btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4
}

.login_wrapper a.btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4
}

.login_wrapper a.google-plus:hover {
    background: #bd4033;
    border-color: #bd4033
}

.fa-facebook:before {
    content: "\f09a";
}
*, ::after, ::before {
    box-sizing: border-box;
}

.fa-google-plus:before {
    content: "\f0d5";
}
*, ::after, ::before {
    box-sizing: border-box;
}

